NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/portfolio
API_URL=http://localhost:3000
SECRET=secret
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d

ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@admin.com
ADMIN_PASSWORD=admin123

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your@gmail.com
SMTP_PASS=your_gmail_app_password
SMTP_FROM=your@gmail.com

OTP_EXPIRES_IN=5m

ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001
ALLOWED_HEADERS=Content-Type,Authorization,Accept
ALLOWED_METHODS=HEAD,GET,PUT,PATCH,POST,DELETE